* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background: black url(../img/celular.jpg) no-repeat top center;
    background-size: 100vw  100vh;
}