body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border-collapse: collapse;
}

caption {
    border: 1px solid black;
    padding: 20px;
    background-color: lightgrey;
    font-size: 1.2em;
    font-weight: bolder;
}

th, td {
    border: 1px solid black;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: rgb(228, 228, 228);
}

#container {
    overflow-x: auto;
}