body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border-collapse: collapse;
}

thead > tr > th {
    background-color: gray;
    color: white;
}

th {
    border: 1px solid black;
    padding: 10px;
}

td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

.configmedia {
    text-align: left;
    background-color: gray;
    color: white;
}